body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: 50px;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

button {
    width: 100%;
    display: block;
    padding: 12px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}


/* Custom button styles for custom filters */

#leadBtn {
    background-color: #28a745;
}

#friendsBtn {
    background-color: #ffc107;
}

#businessBtn {
    background-color: #007bff;
}